# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js
/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
*.local

# Go
/backend/vendor
/backend/crawler.db
*.exe
*.exe~

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Miscellaneous
*.csv
*.zip